.container {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  grid-template-rows: 64px 1fr 64px;
  grid-template-areas:
    'x . .'
    '. content .'
    '. . .';
  align-items: center;
  justify-items: center;
}

.section {
  align-items: center;
  gap: 16px;
}

.section > h3 {
  text-align: center;
  font-size: 1.5rem;
}

.date-input {
  border: 1px solid var(--oc-gray-5);
  padding: 8px;
  border-radius: 4px;
}

.container > * {
  grid-area: content
}

.container > img {
  grid-area: x;
}
